{% extends 'products/base_box.html' %}

{% block content %}
    <!--  ==========  -->
    <!--  = Slider Revolution =  -->
    <!--  ==========  -->
        <div class="fullwidthbanner-container">
            {% include 'products/banner.html' %}
        </div>

    <!--  ==========  -->
    <!--  = Main container =  -->
    <!--  ==========  -->
    <div class="container">
        <div class="row"> 
            person
        </div>
       <div class="row featured-items blocks-spacer"> 
           person1
       </div>
    </div> <!-- /container -->
    {% if product_list %}
        <ul>
            {% for product in product_list%}
                <li><a href="/product/{{ product.id }}/">{{ product.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No products</p>
    {% endif %}
{% endblock %}
